<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kmitgdkpm.forgan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Orderlist_supplier"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usermain"
            android:screenOrientation="portrait" />
        <activity android:name=".Reg_Start" />
        <activity android:name=".Reg_Select" />
        <activity android:name=".Reg_sup_name" />
        <activity android:name=".Reg_sup_email" />
        <activity android:name=".Reg_sup_phone" />
        <activity android:name=".Reg_sup_pass" />
        <activity android:name=".Reg_sup_pic"></activity>
        <activity android:name=".Reg_user_name" />
        <activity android:name=".Reg_user_phone" />
        <activity android:name=".Reg_user_Email" />
        <activity android:name=".Reg_user_sso" />
        <activity android:name=".Reg_user_password" />
        <activity android:name=".Reg_user_profile_pic"></activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>


</manifest>